@use '../styles/global';

header {
  background: var(--accent-hover);
  margin-bottom: 50px;
  box-shadow: var(--shadow);
  nav {
    display: flex;
    gap: 10px;
  }
}

.button__header {
  @extend .flex-center;
  background: white;
  min-height: 32px;
  padding: 8px 12px;
  border: 1.5px solid var(--black);
  border-radius: 8px;
  box-shadow: var(--effect-button-shadow);

  font: {
    family: 'Lexend', sans-serif;
    weight: bold;
    size: 13px;
  }
  color: var(--black);
  text-decoration: none;

  &:hover{
    background: var(--table-border);
  }

  &.active {
    background: var(--bg-base-dark);
    transform: translateY(2px);
    box-shadow: none;
  }
}