.pokemon-list {
  table {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    th,
    td {
      padding: 7px 15px;
      border-bottom: 1px solid var(--table-border);
    }

    th {
      background: var(--accent);
    }
  }
}

.pokemon-list__count {
  margin-top: 20px;
  margin-bottom: 20px;
}
