@import "modern-normalize/modern-normalize.css";

:root {
  --white: #fefdff;
  --black: #151515;
  --accent: #ffe082;
  --accent-hover: #fbbf0e;
  --bg-base: #f3e8ff;
  --bg-base-active: #dbc1f6;
  --table-border: #bfb9c6;
  --effect-input-focus:
    inset 3px 3px 0 0 rgba(0, 0, 0, 0.25), -2px -2px 0 0 rgba(230, 235, 245, 1);
  --effect-button-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
  --shadow: -2px 2px 0 0 rgba(21, 21, 21, 1);
  --border-radius: 16px;
  --text-color-base: #151515;

  --btn-border: #151515;
  --btn-color: #151515;
  --btn-bg: white;

  --table-bg: white;
  --table-th-bg: #ffe082;

  --link-color: #070acc;
  --link-color-visited: #700fcd;
}

html {
  font-family: var(--font-faculty-glyphic), sans-serif;
  font-weight: 400;
  font-style: normal;

  &.dark {
    --bg-base: #3c3c3c;
    --bg-base-active:  #9260c5;

    --text-color-base: white;
    --btn-bg: #f3e8ff;
    --btn-border: #151515;
    --btn-color: #151515;

    --table-bg: #5e5e5e;
    --table-th-bg: #9260c5;

    --link-color: #85aaff;
    --link-color-visited: #c78dff;

    --effect-input-focus:
            inset 3px 3px 0 0 rgba(0, 0, 0, 0.25), -2px -2px 0 0 rgb(67, 67, 67);
  }
}

body {
  background: var(--bg-base);
  color: var(--text-color-base);
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--link-color-visited);
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
}

input,
button {
  font-family: var(--font-lexend), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}

h1 {
  color: #151515;
}

.text-center {
  text-align: center;
}

.flex-aic-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background: var(--table-bg);
}

.button__main {
  @extend .flex-center;
  flex-shrink: 0;
  gap: 5px;
  background: var(--btn-bg);
  min-height: 32px;
  padding: 8px 16px;
  border: 1.5px solid var(--btn-border);
  border-radius: 16px;
  box-shadow: var(--effect-button-shadow);

  font: {
    family: var(--font-lexend), sans-serif;
    weight: bold;
    size: 13px;
  }
  color: var(--btn-color);
  text-decoration: none;

  @media(hover: hover) {
    &:hover:not([disabled]) {
      background: var(--table-border);
    }
  }

  &.active {
    background: var(--bg-base-active);
    transform: translateY(2px);
    box-shadow: none;
  }
  &[disabled] {
    color: var(--table-border);
    border-color: var(--table-border);
    box-shadow: none;
    cursor: not-allowed;
  }
  &:visited {
    color: var(--btn-color);
  }
}

.button__link {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--link-color);

  &:focus {
    outline: none;
  }
}

.mb-5 {
  margin-bottom: 5rem;
}